{% extends "start_boot_strap/clean_blog/base.html" %}

{% block title %} - Home{% endblock %}


{% block content %}

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

    <div class="post-preview">
       {% for post in posts %}
          <a href="#">
           <h2 class="post-title">
             {{ post.title }}
           </h2>
          <h3 class="post-subtitle">
            {{ post.subtitle|safe }}
           </h3>
          </a>
          <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on  {{post.date}} </p>
        <hr>
       {% else %}
         <h2 class="post-title">
           Unbelievable.  No posts here so far
         </h2>
        <hr>
       {% endfor %}

    </div>

                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}
