{% extends "start_boot_strap/clean_blog/base.html" %}

{% block title %} - Contact{% endblock %}

    {% block imageheader %}
    <header class="intro-header" style="background-image: url({{ url_for('static', filename='img/contact-bg.jpg') }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Thank You!!</h1>
                        <hr class="small">
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock %}
 
{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
               <h2> {{contact}} </h2>
               <p> Your message is in our database </p>
            </div>
        </div>
    </div>

    <hr>


{% endblock %}
